/*
header{
    background-color: rgb(16, 202, 202) !important;
    width: 100% !important;
    padding: 5px !important;
}

Clase
.header{
    background-color: aqua !important;
    width: 100%;
    padding: 5px;
}

Identificador
#header{
    background-color: rgb(162, 97, 236) !important;
    color: white !important;
    width: 100%;
    padding: 5px;
}*/
.brder-danger-img{
    background-color: #f834348c !important;
}

.text-pink{
    color: #d63384;
}

.text-brown{
    color: #9E4C12;
}